.footer {
  margin-top: 5;
  height: 50rem;
  background-color: $color-grey-dark-1;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  margin-bottom: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
}
